<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
          http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans.xsd
          http://www.springframework.org/schema/tx
          http://www.springframework.org/schema/tx/spring-tx.xsd
          http://www.springframework.org/schema/context
          http://www.springframework.org/schema/context/spring-context.xsd
          http://www.springframework.org/schema/aop
          http://www.springframework.org/schema/aop/spring-aop.xsd">


    <!--①配置自动注册属性编辑器的CustomEditorConfigurer -->
    <bean class="org.springframework.beans.factory.config.CustomEditorConfigurer">
        <property name="customEditors">
            <map>
                <entry key="com.jd58.mvcxml.test.editor.Car" value="com.jd58.mvcxml.test.editor.CustomCarEditor"/>
            </map>
        </property>
    </bean>
    <bean id="boss" class="com.jd58.mvcxml.test.editor.Boss">
        <property name="name" value="John"/>
        <!--③该属性将使用②处的属性编辑器完成属性填充操作-->
        <property name="car" value="红旗CA72,200,20000.00"/>
    </bean>
</beans>